# Ignore these files anywhere in the tree
*.o
*.a
*.so
*.mod
*.x
*.pyc
*.v3breakpoints
*.swp
*.sublime-workspace
*~

#Ignore the contents of these directories
atlas/
crtm/
eckit/
fckit/
gsw/
ioda/
jedicmake/
MPAS/
mpasjedi/
oops/
ropp-ufo/
rttov/
saber/
ufo/
ioda-data/
ufo-data/
test-data-release/
