# Ignore these files anywhere in the tree
*.o
*.a
*.so
*.mod
*.x
*.pyc
*.v3breakpoints
*.swp
*.sublime-workspace
*~

#Ignore the contents of these directories
atlas/
crtm/
eckit/
fckit/
ioda/
jedicmake/
MPAS/
mpas-jedi/
mpas-jedi-data/
oops/
ropp-ufo/
rttov/
saber/
saber-data/
ufo/
vader/
ioda-data/
ufo-data/
test-data-release/
build/
