# Ignore these files anywhere in the tree
*.o
*.a
*.so
*.mod
*.x
*.pyc
*.v3breakpoints
*.swp
*.sublime-workspace
*~

#Ignore the contents of these directories
jedicmake/
eckit/
fckit/
atlas/
oops/
ropp-ufo/
gsw/
crtm/
ioda/
ufo/
mpasjedi/
MPAS-Model/
saber/

#Ignore JEDIENV files
JEDIENV*

